body {
    position: relative;
}

.container {
    display: grid;
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.item {
    background-color: white;
    border: 1px solid black;
    filter: brightness(100%);
}

.button {
    display: block;
    width: 50px;
    height: 30px;
    margin: 10px auto 10px auto;
}